<!-- grid-1 (reservation grid) && grid-6 (individual reservations) -->
<!-- <div class="grid-1-reservations grid-6"> -->
    <% for (let reservation of itemsReserved) { %>
        <div class="grid-6-reservation grid-7"
            data-disc-type="<%= reservation.discType %>"
        >
            <div class="grid-7-disc-img">
                <img src="<%= reservation.imgbb_link %>" height="150" width="150"
                    style="background-color: white">
            </div>
            
            <div class="grid-7-disc-text">
                <p class="reservation-title"><%= reservation.title %></p>
                <p>Author: <%= reservation.author %></p>
                <p>Category: <%= reservation.category %></p>
            </div>
            
            <div class="grid-7-num-reserved">
                <div class="form-group">
                    <label for="num-reserved"># Reserved</label>
                    <select class="form-control num-reserved" disabled>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

            <div class="grid-7-cancel-reservation">
                <button type="button" class="btn btn-danger action-cancel-reserve">
                    X
                </button>
            </div>
        </div>
    <% } %>
<!-- </div> -->