<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Invasion Disc Shop</title>

        <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">

        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
        
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        
        <!-- My javascript -->
        <script>
            let config = {
                apiKey: "AIzaSyDMhlHmU11B9DtL07Q-DcWo5CshuWHjGdw",
                authDomain: "invasion-disc-shop.firebaseapp.com",
                databaseURL: "https://invasion-disc-shop.firebaseio.com",
                projectId: "invasion-disc-shop",
                storageBucket: "gs://invasion-disc-shop.appspot.com/",
                messagingSenderId: "232594215151"
            };

            firebase.initializeApp(config);
        </script>
        <script src="./auth.js"></script>
        <script src="./main.js" defer></script>
        
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />

        <!-- CSS -->
        <link href="./min/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="./styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!-- grid-1 (main grid) -->
        <div class="grid-1">
            <!-- grid-1 (header) -->
            <div class="grid-1-header grid-4">
                <div class="grid-4-logo">
                    <img src="./img/fdi-logo.png" />
                </div>

                <div class="grid-4-title">
                    <h1>Invasion Disc Store</h1>
                </div>

                <div class="grid-4-login">
                    <div class="user-login">
                        <button type="button" class="btn btn-info"
                        onclick="Auth_signIn();">Login</button>
                    </div>
                    <div class="user-logout hide-div">
                        <button type="button" class="btn btn-danger"
                        onclick="Auth_signOut();">Logout</button>
                    </div>
                </div>
            <!-- close 1-header -->
            </div>

            <!-- grid-1 (welcome message) -->
            <div class="grid-1-welcome welcome-message"></div>
            <!-- close 1-welcome -->

            <!-- grid-1 (navigation) -->
            <div class="grid-1-nav">
                {{!-- <span class="nav-item"><a href="/shop">Home</a></span> --}}
                <span class="nav-item"><a href="https://www.facebook.com/FlyingDiscInvasion"
                target="_blank">Facebook</a></span>
                <span class="nav-item"><a href="https://www.instagram.com/flying.disc.invasion"
                target="_blank">Instagram</a></span>
                <span class="nav-item"><a href="https://www.youtube.com/channel/UCAOZsX0dTOWeu0Jb7vcGUtA/playlists"
                target="_blank">YouTube</a></span>
            <!-- close 1-nav -->
            </div>

            <!-- grid-1 (filters) && grid-2 (main filters) -->
            <div class="grid-1-filters grid-2">
                <div class="grid-2-filter {{#if filter.all}}active{{/if}}" name="all">All</div>
                <div class="grid-2-filter {{#if filter.available}}active{{/if}}" name="available">Available</div>
                <div class="grid-2-filter {{#if filter.doodle}}active{{/if}}" name="doodle">Doodles</div>
                <div class="grid-2-filter {{#if filter.nostock}}active{{/if}}" name="nostock">Not in Stock</div>
                <div class="grid-2-filter {{#if filter.team}}active{{/if}}" name="team">Teams</div>
                <div class="grid-2-filter {{#if filter.event}}active{{/if}}" name="event">Events</div>
            <!-- close 1-filters, 2-main -->
            </div>

            <!-- grid-1 (discs display) && grid-3 (discs display) -->
            <!-- NOTE: if html changed here, must also be changed in main.js -->
            <div class="grid-1-discs grid-3">
            {{#each discs}}
                <div class="grid-3-disc grid-3_2"
                    data-author="{{author}}"
                    data-category="{{category}}"
                    data-stock="{{stock}}"
                    data-title="{{title}}"
                    data-total-purchased="{{total_purchased}}"
                    data-disc-type="{{@key}}">
                    <div class="grid-3_2-discs-stock">{{stock}}</div>
                </div>
            {{/each}}
            <!-- close 1-discs, 3-main -->
            </div>

            <!-- grid-1 (footer) -->
            <div class="grid-1-footer">
                Check back later for more updates!
            <!-- close 1-footer -->
            </div>

        <!-- close 1-main -->
        </div>

        <!-- The Modal -->
        <div class="disc-detail-modal">
            <!-- Modal content -->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close">&times;</button>
                    <h4 class="modal-title">
                        Disc Details - Title: <span class="title">Title</span>
                    </h4>
                </div>

                <div class="modal-body">
                    <p>Author: <span class="author">Author</span></p>
                    <p>Category: <span class="category">Category</span></p>
                    <p>Discs in stock: <span class="stock">Stock</span></p>
                    <p>Total times this disc has been purchased: <span class="total-purchased">Total</span></p>
                    <p>Note: We do not provide receipts!</p>
                </div>

                {{!-- note: text here is right-justified --}}
                <div class="modal-footer">
                    <div class="modal-footer-warning">
                        <span class="reserve-warning">You must sign in to reserve discs!</span>
                    </div>

                    {{!-- Add more inputs here (phone number, note about not providing receipts) --}}
                    
                    <div class="modal-footer-reserve">
                        <button type="button" class="btn btn-default">Begin reservation</button>
                    </div>
                </div>
            </div>
        <!-- close modal -->
        </div>

    </body>
</html>